*{
    padding: 0;
    margin: 0;
}
.text-center{
    margin-top: 100px;
}
.form-floating button{
    margin: 10px;
}
.form-floating input{
    width: 95%;
    margin-left: 10px;
}
@media (min-width: 560px) {
    #pass_lock{
        width: 560px;
        margin:0px auto;
    }
}